/* GENERAL STYLE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
  background-image: linear-gradient(
    135deg,
    hsl(0, 0%, 100%),
    hsl(0, 100%, 98%)
  );
}

.logo {
  margin: 25px 0;
  transform: scale(70%);
}

.hero {
  margin-bottom: 50px;
}

/* CONTENT */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  margin: 0 auto;
  text-align: center;
}

header {
  font-size: 1.4rem;
  letter-spacing: 9px;
  opacity: 0.8;
  margin-bottom: 20px;
}

.title {
  font-weight: 300;
  color: hsl(0, 36%, 70%);
}

article {
  color: hsl(0, 36%, 70%);
  font-size: 0.9rem;
  line-height: 22px;
  margin-bottom: 30px;
}

.email {
  padding: 15px;
  width: 100%;
  border-radius: 30px;
  border: 1px solid hsl(0, 36%, 70%);
  opacity: 0.6;
  color: hsl(0, 36%, 70%);
}

.email::placeholder {
  color: hsl(0, 36%, 70%);
  opacity: 0.7;
}

.email-button {
  width: 100%;
}

button {
  position: absolute;
  right: 25px;
  padding: 12px 25px;
  border-radius: 25px;
  border: none;
  background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}

button:hover {
  background-image: linear-gradient(135deg, hsl(0, 90%, 90%), hsl(0, 90%, 90%));
}

/* FOOTER */
footer {
  position: absolute;
  bottom: 20px;
  text-align: center;
  width: 80%;
  align-self: center;
}
